<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- IIS Node.js Handler -->
    <handlers>
      <add name="iisnode" path="bundle.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <rule name="myapp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="bundle.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- HTTP Errors: Detailed Error Mode -->
    <httpErrors errorMode="Detailed" />

    <!-- iisnode Settings -->
    <iisnode
      node_env="%node_env%"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="2048" 
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="1024" 
      maxNamedPipePooledConnectionAge="60000" 
      asyncCompletionThreadCount="8" 
      initialRequestBufferSize="8192" 
      maxRequestBufferSize="131072" 
      watchedFiles="*.js;iisnode.yml"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="256" 
      maxTotalLogFileSizeInKB="2048"
      maxLogFiles="50"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
    />

  </system.webServer>
</configuration>
