# Ignore Auth/dist, Auth/node_modules, Auth/build directories
Auth/dist/
Auth/node_modules/
Auth/build/
Business/dist/
Business/node_modules/
Business/build/
Setting/dist/
Setting/node_modules/
Setting/build/
System/dist/
System/node_modules/
System/build/
Userrole/dist/
Userrole/node_modules/
Userrole/build/
Warehouse/dist/
Warehouse/node_modules/
Warehouse/build/
Web/node_modules/
Web/build/

